
// Frogwatch Colors
$primary-color-light: #969BBF;
$primary-color: #5a5d73;
$primary-color-dark: #282933 ;//191a20;

$accent-color-light: #C2CE5C; //#BACA16; // for shadow
$accent-color: #aebd15;
$accent-color-dark: #737D0E;
$accent-color-darker: #393D07; // for active state

$primary-text-color-dark: rgba($primary-color-dark,.87);
$secondary-text-color-dark: rgba($primary-color-dark,.54);
$tertiary-text-color-dark: rgba($primary-color-dark,.38);
$primary-text-color-light: rgba(white,1.0);
$secondary-text-color-light: rgba(white,.70);
$tertiary-text-color-light: rgba(white,.50);

body {
  color: $primary-text-color-dark;
}

.wy-nav-content {
  max-width: 900px;
}

div.wy-side-nav-search {
    background-color: $accent-color;
}

nav.wy-nav-side {
  background-color: $primary-color;
}

nav.wy-nav-top {
  background-color: $accent-color;
}

h1 {
  color: $accent-color;
}
h2, h3, h4, h5, h6 {
  color: $primary-color;
}

.wy-breadcrumbs, .rst-content {
  a {
    color: $accent-color;

    &:visited {
      color: $accent-color;
    }
    &:hover {
      color: $accent-color-dark;
    }
  }
}




.wy-menu-vertical {
  .caption + ul {
    margin-left: 1em;
  }
  a:active {
    background-color: $accent-color;
  }
  a:hover {
    background-color: $primary-color-dark;
  }
  li.current a.toctree-l3 {
    padding-left: 3.2em;
    background-color: rgb(#d6d6d6, 0.6);
    list-style: disc;
    display: list-item;
    list-style-position: inside;
  }
}

.rst-versions {
  color: #fcfcfc;
  background: $primary-color-dark;
}

.warning {
  background-color: #d95114;
}

